[2018-12-18 01:00] ErikBjare opened #1 "Investigate using aw-server-rust as backend"
Dropping some links so I don't lose them.

 - https://mozilla.github.io/firefox-browser-architecture/experiments/2017-09-21-rust-on-android.html
 - https://www.reddit.com/r/rust/comments/93g8uc/is_it_possible_to_write_an_android_app_using_rust/
 - https://github.com/Dushistov/rust_swig/tree/master/android-example

It should be possible. Would complicate the toolchain and dependency a fair bit but

[2018-12-18 01:01] ErikBjare opened #2 "Put up beta on Google Play Store"

[2018-12-18 01:19] ErikBjare commented on #2
I just set up the basics, just need to create a feature image and take two screenshots to start publishing internal test versions.

[2018-12-18 01:55] ErikBjare commented on #2
Now just "Awaiting publication"

[2018-12-18 02:13] ErikBjare commented on #2
Alright, done. Should be easy to publish newer versions when the time comes.

[2018-12-18 02:13] #2 closed

[2018-12-18 08:07] johan-bjareholt commented on #1
The first seem to just be Rust bindings through NDK similar to C/C++, if we just fixed bindings to create_bucket, heartbeat and query we should have a pretty good start with few bindings and the whole query language which should save us a lot of work.

I'm not sure what happens with apps running with NDK when they suspend though, I'm aware that a few games (generally written with NDK) have issues

[2018-12-18 08:07] johan-bjareholt commented on #2
Invite pls :)

[2018-12-18 16:07] ErikBjare commented on #1
We would run the server and all collecting as an [Android service](https://developer.android.com/guide/components/services). I don't think it would be an issue.

[2018-12-18 16:09] ErikBjare commented on #2
@johan-bjareholt Invited you to the developer console, and added you to the internal tester list, just use this link to register for the internal test: https://play.google.com/apps/internaltest/4699995929674093832

[2018-12-23 17:39] ErikBjare commented on #1
Been trying to build a aw-server-rust dynamic lib for Android but failing on the actual build step for the Android target.

The problem seems to occur when building ring (required by `cookie`, which in turn is required by `rocket`).

Here's the output:

<details>
<summary>Long log</summary>
<code>
+ export PATH=/home/erb/.bin:/home/erb/.local/bin:/home/erb/.bin:/home/erb/.local/bin:/home/erb/.bin:

[2018-12-23 18:07] ErikBjare commented on #1
Just now realized the version of `ring` in the Cargo.lock was super old (v0.12, released Aug 28, 2017, latest is v0.13.5). Running `cargo update` and hoping for a miracle.

[2018-12-23 18:56] ErikBjare commented on #1
So I hunted down the reason ring was so old: Rocket hadn't been updating it. Except it had, in v0.4, so I bumped it, did a fair bit of migration work, and then got to the next step (yay!).

When I was going to commit and create a PR, I realize @johan-bjareholt had already done the work in his master branch...

[2018-12-23 19:17] ErikBjare commented on #1
Okay, so now I got that stuff merged with master and working again, now onto the new issue I mentioned...

<details>
<summary>Error log</summary>
<pre>
<code>
+ export PATH=/home/erb/.bin:/home/erb/.local/bin:/home/erb/.bin:/home/erb/.local/bin:/home/erb/.bin:/home/erb/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/home/erb/.gem/ruby/

[2018-12-24 14:31] ErikBjare commented on #1
A solution to the sqlite issue could be to use the bundled feature of libsqlite3 (as @johan-bjareholt suggested to me). There is a section in the rusqlite README that describes how: https://github.com/jgallagher/rusqlite/blob/master/README.md#notes-on-building-rusqlite-and-libsqlite3-sys

[2018-12-25 16:00] ErikBjare commented on #1
Switched to bundled SQLite in https://github.com/ActivityWatch/aw-server-rust/pull/8/commits/6d5014a1cf058ef67ff35d3c0c763389b9c8da77, works great!

Compiling properly now on all targets **except armv7** where some assembly-optimized stuff in ring fails to compile, maybe because it's 32bit assembly?

[2018-12-25 17:43] ErikBjare commented on #1
Success!

[code]

Hello world string that was printed was passed through Rust-code in aw-server-rust (see https://github.com/ActivityWatch/aw-server-rust/pull/8/commits/4df945d06ba9cbec1761a09e92212fd72cc06a38).

[2019-01-14 19:47] ErikBjare commented on #1
Works amazing. Fixed by #3

[2019-01-14 19:47] #1 closed

[2019-01-14 19:48] ErikBjare opened #4 "Include building of aw-server-rust and run instrumented tests in CI"
Things I never completed in #3

[2019-01-18 17:59] ErikBjare opened #5 "Android TV support"
One major device I spent time on that's currently not tracked is my TV which is connected to a Mi Box. As far as I know, there are no time-tracking apps for Android TV, which is a real shame since I sometimes spend a decent amount of time by the TV in the evenings (I've even noticed that I'm avoiding the TV since it doesn't get tracked...).

Found [this on SO](https://stackoverflow.com/questions/5

[2019-01-18 17:59] ErikBjare opened #6 "Add ability to show aw-webui in a WebView"
Not sure how to run the server to handle the requests, but would be really cool.

Edit: [Asked on IRC](https://mozilla.logbot.info/rocket/20190118#c15853070)

[2019-02-16 13:21] ErikBjare opened #7 "Database locked error when doing rapid heartbeats"
I discovered this bug when building aw-android. I can provide more detail later (currently on my phone).

Seems to be easily solvable by correctly handling Result unwrap, or waiting for the DB to "unlock".

The simple workaround I used was to add a short pause between heartbeats (100ms, could probably go way lower).

[2019-02-17 20:21] johan-bjareholt commented on #7
it's in the android/mod.rs file though, so unclear where to put it IMO as the acual fix should be done in aw-server-rust.

[2019-02-17 20:25] johan-bjareholt commented on #7
I pushed the sqlite exclusive behavior change straight to master

https://github.com/ActivityWatch/aw-server-rust/commit/cae5604b7044979091d1448a1ec6b1cff92e5afa

[2019-02-17 20:36] ErikBjare commented on #7
That would indeed break a lot in aw-android as I'm sometimes interacting with the server through the library and sometimes through the API.

So I'd need two database connections if the server is to manage its own DB connection (unless they can be set up to share somehow, which they probably can...)

[2019-02-17 20:56] johan-bjareholt commented on #7
An option would be to use rocket::local::Client just as we do in the api.rs unittests. Maybe not the most efficient solution, but would work very well.
On the other hand, you've gotten rocket to run now anyway so you could also just skip the bindings altogether.

[2019-02-17 21:19] ErikBjare commented on #7
@johan-bjareholt I guess that's true, but there's something deeply satisfying with having direct access through the JNI. Shouldn't be too hard, so I gave it a go, but having issues with statics/lifetimes/etc in Rust, feel free to take a look and give it a shot: https://github.com/ActivityWatch/aw-server-rust/pull/19

[2019-02-21 11:20] ErikBjare commented on #7
Fixed in https://github.com/ActivityWatch/aw-server-rust/pull/19

[2019-02-21 11:20] #7 closed

[2019-02-21 11:21] ErikBjare commented on #6
This was done a while back, closing.

[2019-02-21 11:21] #6 closed

[2019-02-21 11:23] ErikBjare opened #8 "App usage isn't correctly logged"
Data doesn't seem to be logged correctly right now, I'm probably not handling the UsageEvents correctly.

[2019-03-08 12:29] ErikBjare opened #9 "Add automatic deploy to Play Store"
See: https://github.com/tdillon/android

[2019-03-09 19:41] Cupbox opened #10 "Crashing upon sideloading"
Hello.
I sideloaded this app into a Kindle Fire HDX7 running a custom Nougat but it keeps crashing upon launch. Is it because it's an ARM device?

[2019-03-09 19:54] ErikBjare opened #11 "Fix support for older ARM devices"
Doesn't work right now due to aw-server-rust depending on ring which fails to compile under the old arm architecture.

Would let us support older devices (still a significant part of the devices in use).

[2019-03-09 19:56] ErikBjare commented on #10
Yeah we haven't been able to get one of the necessary components to compile on older ARM devices. See #11 that I just created, follow that issue for updates om the matter.

[2019-03-09 19:56] #10 closed

[2019-03-18 08:28] ErikBjare commented on #9
Fixed in #12

[2019-03-18 08:28] #9 closed

[2019-03-18 08:29] ErikBjare commented on #4
Building of aw-server-rust fixed in #12. Instrumented tests more difficult, so that'll wait for another time, and issue.

[2019-03-18 08:29] #4 closed

[2019-03-18 08:30] ErikBjare opened #13 "Crashes when trying to log data"
Not sure what's the cause of this, but it seems like aw-server-rust is panicking.

Only happens on real arm64 devices, not in my x86 emulator.

Also only seems to happen *after* the first sync.

[2019-03-18 08:32] ErikBjare commented on #5
Closing this, unlikely to happen anytime soon.

[2019-03-20 22:01] ErikBjare opened #15 "Fix building aw-server-rust in release-mode in CI before deploy"

[2019-03-26 21:27] ErikBjare opened #16 "Frequent crashes recently"
I think we've had this issue since versionCode 9. Lots of verifying reports on the Google Play Store.

It's usually fine, but then starts crashing on every reboot. Haven't reproduced in the emulator yet though, but in production on two different phones.

[2019-03-26 21:28] ErikBjare commented on #16
Might be related too https://github.com/ActivityWatch/aw-android/issues/13, since auto-logging was introduced recently.

[2019-04-11 20:54] Rakleed commented on #2
@ErikBjare Why didn't you publish the app as unreleased? For example, as did the [Swift Installer](https://play.google.com/store/apps/details?id=com.brit.swiftinstaller) and [Everdo](https://play.google.com/store/apps/details?id=net.everdo.everdo).

And do you plan to publish your application in [F-Droid](https://f-droid.org)?

[2019-04-11 21:03] ErikBjare commented on #2
@Rakleed I did, but then I accidentally pushed one release to production, and there is no way to unpublish a production release, you can only upgrade it.

[2019-04-12 15:53] #8 closed

[2019-04-12 15:53] #15 closed

[2019-04-12 16:00] ErikBjare commented on #13
Here's the stack trace on version v0.4.2.

Occurs on both my Poco F1 and on someone's Pixel device (probably @karvla).

[code]

[2019-04-13 21:10] Rakleed opened #17 "Dark theme"
Please make a dark theme of the application.

[2019-04-14 08:51] ErikBjare commented on #17
Essentially a duplicate of https://github.com/ActivityWatch/activitywatch/issues/253.

Discussion moved to [the forum](https://forum.activitywatch.net/t/dark-theme-for-web-ui-and-android-app/274). Vote on the feature there so we can know how much interest there is!

[2019-04-14 08:51] #17 closed

[2019-04-14 18:28] Rakleed commented on #17
@ErikBjare Why don't you use reactions to messages on GitHub to evaluate the importance of a feature request? Just when each service creates its own forum for discussing proposals with necessary registration, it becomes inconvenient. And just need to have a GitHub account.

[2019-04-14 19:42] ErikBjare commented on #17
We've considered that before, but have decided otherwise because:

 - There's no well defined meaning to reactions.
 - There's no way to easily show users a list of which features have been requested before (and which are the most requested ones) in a way that doesn't have terrible UX.
 - We don't want to mix real issues with feature requests (as that leads to many indefinitely open issues that ma

[2019-04-15 11:08] ErikBjare commented on #13
@johan-bjareholt Finally found ndk-stack and managed to get it to work, unfortunately the resulting stack trace doesn't look promising...

[code]

[2019-04-15 11:20] ErikBjare commented on #16
I fixed several other crashes related to null-pointers recently. So now only #13 remains.

[2019-04-15 11:20] #16 closed

[2019-04-17 17:00] ErikBjare commented on #13
Switched from mpsc to crossbeam, but didn't do much of a difference.

@johan-bjareholt Any ideas?

[code]

[2019-04-17 17:05] ErikBjare commented on #13
Looks like I got two different crash-causes.

![image](https://user-images.githubusercontent.com/1405370/56306731-7d09ad00-6143-11e9-960b-c1ddd47427a6.png)

Here's the other stacktrace:

[code]

[2019-04-17 17:33] ErikBjare commented on #13
Okay, I gave up on generating stack traces from crash reports and ran it on my phone instead. Here's one thing that happened:

[code]

[2019-04-17 17:36] ErikBjare commented on #13
Here's more stuff, that happened right after I opened the web UI:

[code]

Seems we have a programmer error! Finally something to work with.

[2019-04-17 17:58] ErikBjare commented on #13
I keep getting the `Corrupt event in bucket 'bucketname': disk I/O error` :sob:

[code]

[2019-04-17 18:15] johan-bjareholt commented on #13
At least the mpsc crash seems to be fixed.

[code]

I added proper CORS support a month ago, apparently the default configuration does not work for some reason?

[code]

This is really odd... I have no idea what could cause this but if this happens the datastore should simply ignore that corrupt event and continue with the rest. Maybe it's from old events prior when you had race-conditions in the

[2019-04-17 18:20] johan-bjareholt commented on #13
https://github.com/ActivityWatch/aw-server-rust/blob/master/src/android/mod.rs#L36

This code also really is not safe and just begs for race conditions. I would suggest to have a createDatabase and make sure to only call it once in one thread and then make openDatabase just unwrap that option value.

[2019-04-17 18:25] johan-bjareholt commented on #13
[code]

This is also very bad, something is going terribly wrong.

[2019-04-17 18:25] johan-bjareholt commented on #13
There are just so many different crashes now I don't even know where to start...

[2019-04-17 18:50] ErikBjare commented on #13
Nah, just forgot to change the URL to `127.0.0.1` from `localhost`.

Nope, been reinstalling and same issue occurs after a full first log-cycle.

Probably a consequence of the I/O error propagating? Or something.

[2019-04-17 19:31] #13 closed

[2019-04-18 06:13] alerque opened #18 "No action on log"
* Lineage-OS 16 on a OnePlus  5
* AW-Android v0.4.6

The first time I hit the "log" button it sent me off to grant permissions (which I did).

The second and all subsequent times it does nothing. In the "buckets" panel I only ever have a single entry dated the first launch of the app.

P.S. Really looking forward to this. I've tried a number of proprietary systems but they are so invasive I eventu

[2019-04-18 14:23] ErikBjare commented on #18
It actually does something, but you're right that there's no clear indication of it doing so!

You can see for yourself: Open menu -> web UI -> raw data -> open the `aw-watcher-android-test` bucket -> you should see events.

I just deployed v0.4.8 which has some much needed improvements, including indications of logging when the button is clicked! It'll be live in an hour or two.

Happy to have yo

[2019-04-18 14:23] #18 closed

[2019-04-18 14:27] alerque commented on #18
You are correct. It does in fact have data in there! Thanks. I'll keep it logging and be looking forward to when I can do something useful with it. I'm not an Android programmer, but I'll keep an eye out for ways to contribute as well.

[2019-05-24 07:23] ErikBjare opened #20 "Add x86_64 version of library to build (Google requirement)"
Apparently you need to supply a x86_64 binary for all apps on the Play Store before the deadline on the 1st of August if you want to be able to update your app: https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html

According to a Google email I just received, this is apparently not the case for the Android app. It might just be as easy as to copy the library into a

[2019-05-24 08:35] johan-bjareholt commented on #20
I'm looking at that link and can't see anything about x86_64, it only says 64-bit? (so I assume they mean aarch64/ARMv8)

[2019-05-24 11:45] ErikBjare commented on #20
They write about it here: https://developer.android.com/distribute/best-practices/develop/64-bit

[2019-05-25 12:30] #20 closed

[2019-05-31 14:16] ErikBjare opened #22 "Try sideloading onto Oculus Quest"
@miyou just gave me a tip that it should be possible to sideload normal Android apps onto the Oculus Quest. This might possibly enable the ability to run ActivityWatch on the Oculus Quest!

Did a quick search, and apparently it's possible with a simple `adb install` and some Android TV app called [TvAppRepo](https://github.com/ITVlab/TvAppRepo) (guide: https://uploadvr.com/how-to-sideload-apps-ocu

[2019-05-31 16:05] ErikBjare commented on #22
lol, it fucking worked.

[2019-05-31 16:05] #22 closed

[2019-06-05 10:47] Rakleed opened #23 "When you open the Web UI and rotate the screen, a text overlay from the Home screen appears"
When you open the Web UI and rotate the screen, a text overlay from the Home screen appears.
v. 0.4.9.
<details><summary>Screen recording:</summary>

[2019_06_05_13_36_04.zip](https://github.com/ActivityWatch/aw-android/files/3256758/2019_06_05_13_36_04.zip)

Or link: https://tlgur.com/d/Gd3aeap8
</details>

[2019-07-03 15:02] #23 closed

[2019-08-12 11:55] ErikBjare opened #24 "Submit to F-droid repos"
Guide: https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md

[2019-08-13 09:00] ErikBjare opened #25 "Crashes when opening web UI"
I released v0.4.11 yesterday, but turns out the latest aw-server-rust came with a new crash.

Any idea what could cause this @johan-bjareholt?

[code]

[2019-08-13 09:16] ErikBjare commented on #25
Here's the resymbolized stacktrace:

[code]

[2019-08-13 09:25] johan-bjareholt commented on #25
The backtrace is not the best, but it seems like it occurs during GetBuckets?
You only give the backtrace of the main thread, but it seems like it crashes when the main thread makes a request to the datastore thread so we need a backtrace for that thread as well to know exactly what's going on. If you have a coredump this shouldn't be too hard.

It's also notable that it's a SIGTRAP signal shuttin

[2019-08-13 09:31] ErikBjare commented on #25
I found an unwrap in `buckets_get` in `endpoints/bucket.rs` that looked suspicious, fixing now.

I'm pretty sure unwraps and other aborts cause SIGTRAP, basically all crashes we've had have been SIGTRAP.

[2019-08-13 09:52] ErikBjare commented on #25
Further up the log, at server-initialization, I found this:

[code]

Looks like a probable culprit.

[2019-08-13 10:32] ErikBjare commented on #25
The issue lies in the `data` column, which is `null` for all old installations (and there is no migration).

I'm working on making an empty map the fallback if `null` is found.

[2019-08-13 10:50] johan-bjareholt commented on #25
@ErikBjare Awesome!

[2019-08-13 11:11] ErikBjare commented on #25
Fixed in https://github.com/ActivityWatch/aw-server-rust/pull/52

[2019-08-17 10:57] #25 closed

[2019-09-16 11:02] rakshazi commented on #24
Hi guys!
I missed the app in main F-droid repo, so I added it to my own: [fdroid.rakshazi.me](https://fdroid.rakshazi.me)

Source code: https://gitlab.com/rakshazi/fdroid

[2019-09-16 11:16] ErikBjare commented on #24
@rakshazi Nice! It'll come in handy when I'm submitting it to the main F-droid repo :)

[2019-09-16 12:28] ErikBjare commented on #24
I added a merge request to the fdroiddata repo: https://gitlab.com/fdroid/fdroiddata/merge_requests/5502

Hopefully someone will help us fix the final issues to make it ready for inclusion in the main F-droid repo!

[2019-10-06 17:05] Rakleed opened #26 "App shortcuts"
Please add application shortcuts support. This would be useful in order to be able to quickly start frequent actions and those actions that would require more than one action. Shortcut example: open Web UI. And do not forget, please, make adaptive icons for application shortcuts. Useful links: https://developer.android.com/guide/topics/ui/shortcuts.html, https://source.android.com/devices/tech/dis

[2019-10-06 17:13] Rakleed opened #27 "Update icons on the Google Play Market"
Please update your icon on the Google Play Market in accordance with the new specifications. What is wrong with your icon is written in the paragraph [Brand adaptation](https://developer.android.com/google-play/resources/icon-design-specifications#brand_adaptation): "If possible, pick a background color for your asset that's appropriate for your brand and doesn't include any transparency. Transpar

[2019-10-06 17:15] Rakleed opened #28 "Material Theming"
Please make the design of the application in the style of Material Theming (this is an extension of Material Design, which was introduced at Google I/O 2018). Material Theming lets you fine tune Material Design, and I like Material Theming more than the older version of Material Design. Useful links: https://material.io/design/material-theming/overview.html, https://material.io/develop/android/doc

[2019-12-18 09:20] rakshazi commented on #24
Hi @ErikBjare
F-droid waiting for your changes in https://gitlab.com/fdroid/fdroiddata/merge_requests/5502

[2020-01-03 12:25] ErikBjare commented on #11
The aw-server-rust build was fixed in https://github.com/ActivityWatch/aw-server-rust/pull/71. Now it just needs to get merged and then have this repo adjusted to build it as well.

[2020-01-26 18:58] miguelrochefort opened #29 "Internet browsing history?"
Here's more information: https://krtkush.com/2018/08/04/android-accessibility-grab-url.html

[2020-01-26 19:29] ErikBjare commented on #29
That would be cool but it's a bit hacky. I personally use Firefox on Android which supports extensions, including aw-watcher-web, but I haven't found out how to make it able to report back to the app yet.

[2020-01-27 04:59] miguelrochefort commented on #29
I'm not sure that's hacky as it's how all other applications (RescueTime,
Instant, BlockSite) do it. I think most people use Chrome on Android, and
that feature is a must.

On Sun, Jan 26, 2020 at 2:29 PM Erik Bjäreholt <notifications@github.com>
wrote:

[2020-01-27 13:58] ErikBjare commented on #29
Ah, that's good to know! I'll look into it when we get to it.

[2020-03-02 10:48] ErikBjare commented on #29
Just to keep track of things, @miguelrochefort got it working as he announced on the forum: https://forum.activitywatch.net/t/android-chrome-watcher/466 :tada:

[2020-04-03 14:19] iamjayantchauhan opened #31 "Getting issue while compiling android"
![Screenshot 2020-04-03 at 7 42 59 PM](https://user-images.githubusercontent.com/24570754/78369966-9ff6d080-75e3-11ea-8453-73b3df729761.png)

I followed all instructions to build the app But stuck here. Also, I have one more confusion about the application. Why we are loading from System? If there is an independent app, How it will work?

`System.loadLibrary("aw_server")`

**Note: I am using Mac,

[2020-04-05 07:13] ErikBjare commented on #31
What instructions did you follow? I didn't know we had any.

`System.loadLibrary` is used to load the aw-server-rust library. I've added some basic build instructions to the README, please let me know of any issues you might encounter.

[2020-04-05 14:51] 8bitgentleman opened #33 "Mobile uses old aw-server-rust that does not support queries"
[As discussed on the forum](https://forum.activitywatch.net/t/activity-watch-mobile-query-error/520/) the aw-server-rust version in the android app is an older version in which a bug prevents the use of queries. A simple query like this

[code]

results in a parsing error

`ParsingError("(Some((Semi, Span { lo: 80, hi: 81, line: 3 })), \"expectedBool,Ident,If,LBrace,LBracket,LParen,Number,RBrace,R

[2020-04-05 14:56] 8bitgentleman opened #34 "Many events with a duration of 0"
[As brought up on the forum](https://forum.activitywatch.net/t/activity-watch-mobile-query-error/520/6?u=8bitgentleman) many of the events in my aw-android have a duration of 0 seconds. Looking at my event list close to half of my events are a duration of 0 seconds. Not sure if this is actually a bug or what

![2ca7891a775ae6024037993a5ec93ea78b6e0925_2_628x1000](https://user-images.githubusercont

[2020-04-06 08:01] ErikBjare commented on #33
I'm working on updating significantly updating aw-android in https://github.com/ActivityWatch/aw-android/pull/32. Will hopefully have a new release soon.

[2020-04-19 17:22] 8bitgentleman opened #35 "Screen Unlock watcher"
As I mentioned in #30 at this [comment](https://github.com/ActivityWatch/aw-android/pull/30#issuecomment-616184863) it would be very interesting to have a watcher that can track how many times the phone is unlocked and/or how many times the screen is turned on (ie to check if you have any notifications). It's a great metric to identify just how often you are checking your phone.

I'm no android de

[2020-04-26 16:09] NicoWeio commented on #35
Maybe some sort of collaboration with [SaveMyTime](http://savemytime.co/en/), an app that I translate, would be possible.
Also, aren't there any FOSS apps with implementations we could use?
Anyway, I might look into this in the future

[2020-04-26 19:48] johan-bjareholt commented on #35
Newer android versions with "Digital Wellbeing" likely has some API for this. Whether it's an open API or not though I don't know, I was not able to find anything after som googling.

[2020-04-26 20:03] 8bitgentleman commented on #35
Looks like the code for google's Digital Wellbeing unlock counter live wallpaper is public, not sure if that would be helpful

https://github.com/googlecreativelab/digital-wellbeing-experiments-toolkit/tree/master/liveWallpaper

[2020-05-05 14:13] #33 closed

[2020-05-16 13:10] 8bitgentleman opened #36 "Build script error"
When running the install script `install-ndk.sh` I get the error

[code]
I believe this is because `readlink` does not exist on Mac systems, as mentioned in [this stackoverflow](https://stackoverflow.com/questions/1055671/how-can-i-get-the-behavior-of-gnus-readlink-f-on-a-mac).

[2020-05-16 16:38] ErikBjare commented on #36
`readlink` exists, but it's not the GNU readlink, and it doesn't support the `-f` option.

A workaround would be to install GNU readlink (greadlink) as someone in the thread suggested, but ideally, we'd patch the script to use one of the other alternatives suggested.

[2020-05-24 16:53] ErikBjare opened #37 "Calls (screen off) not logged properly"
It seems to not log calls if your display is off (speakerphone worked).

[2020-06-04 14:23] 8bitgentleman commented on #35
Ran across another open source app that does something similar, [Look Counter](https://github.com/lomza/screenlookcount). Looks like that app shows how many times you have unlocked your phone as well as how many times you just turned on the screen to check notifications. Kind of interesting

[Receiver which listens to SCREEN_ON, SCREEN_OFF, and USER_PRESENT events](https://github.com/lomza/screenl

[2020-06-14 08:27] LDuncAndroid commented on #31
@iamjayantchauhan

See the `System` API docs for an explanation. This line: `System.loadLibrary("aw_server")` loads the native library into the runtime.

https://developer.android.com/reference/java/lang/System#loadLibrary(java.lang.String)

[2020-06-14 15:21] nicolae-stroncea opened #39 "Events not stored correctly (and therefore not reported correctly either)"
I realized why there are a lot of `duration:0` events in the raw data store. I initially thought this was due to storing the same events twice(https://github.com/ActivityWatch/aw-android/pull/38), however this turned out not to be the case.

Android's default UsageStatsManager should actually produce close to no events of duration 0 for apps with a UI. Every UI app has a `move_to_foreground` and a

[2020-06-14 16:46] nicolae-stroncea commented on #29
@ErikBjare turns out Firefox already reports back to ActivityWatch if its turned on.

If I'm on Firefox and AW is not turned on I get a notification: "Unable to send event to server". Once I turn on AW, events start getting sent to AW and I can see them in the bucket.

Currently Firefox always sends events if AW is on. I'm not sure what happens if it's off. Does the aw-browser-watcher just throw a

[2020-06-16 12:34] ErikBjare opened #41 "Crashes on Android 10"
I updated to Android 10 yesterday, and apparently that leads the app crashing after a minute or so, with no Activity being logged (as far as I can tell).

[2020-06-22 03:24] nicolae-stroncea commented on #35
Turns out this *might* be a lot easier to implement than previously thought. The reason why these Apps listen to `SCREEN_ON`, `SCREEN_OFF`, `USER_PRESENT` is because they need to know **instantly** if a screen is unlocked.

AW doesn't have the same requirements. Instead it can use UsageStatsManager, as it does currently to look into the history of device events, which include [KEYGUARD_HIDDEN](htt

[2020-06-22 03:30] nicolae-stroncea commented on #41
Android recently deprecated `MOVE_TO_FOREGROUND`(now `ACTIVITY_RESUMED`), `MOVE_TO_BACKGROUND`(now `ACTIVITY_PAUSED`) in API Level 29(Android 10). Not sure if this would crash AW, but might be why it doesn't log activity

[2020-06-22 03:55] nicolae-stroncea commented on #34
Apart from #39, another thing which causes 0 events is that events are stored with their classes, so if an app has multiple classes, events from separate classes will not get merged together(afaik) in the db.

This shouldn't cause any duration issues (apart from aesthetics) since events are repored by app, and events of same classname will be merged together

[2020-06-22 14:32] ErikBjare commented on #41
I think I've found the issue now, it's an OOM bug caused by this function which retrieves *the entire bucket*:

https://github.com/ActivityWatch/aw-android/blob/81e838b5d056e816c34e874ec4fcad39ee3d3fcf/mobile/src/main/java/net/activitywatch/android/RustInterface.kt#L94-L104

@nicolae-stroncea I also noticed those deprecations, but they wouldn't crash AW. I'll fix them regardless.

[2020-06-22 14:54] ErikBjare commented on #39
Very nicely investigated!

One question I have is do we really need to consider the `SCREEN_NON_INTERACTIVE` events at all? It would significantly complicate the logic to have to reorder the events as you suggest.

Here I've printed the event types in order:

[code]

From this small sample, it seems that 2 (`ACTIVITY_PAUSED`) always follows 16 (`SCREEN_NON_INTERACTIVE`) and that 1 (`ACTIVITY_RESUM

[2020-06-22 15:04] ErikBjare commented on #39
Here is some logs with more info:

[code]

It seems to me like we can drop the 15 and 16 events. But it looks like that won't solve the issue entirely as there can still be consecutive 1 and 2 events, maybe that's non-problematic though.

[2020-06-22 15:13] #41 closed

[2020-06-22 15:17] ErikBjare commented on #39
Storing the varying `event_type` would break the heartbeat logic completely (almost all events would become 0-duration), so that's not really possible.

[2020-06-22 15:55] nicolae-stroncea commented on #39
@ErikBjare  seems like in my excitement I missed the obvious choice :))

I think ignoring `MOVE_TO_BACKGROUND` and `MOVE_TO_FOREGROUND` makes sense. They're not needed for AFK purposes either since we only report non-afk events in the currentWindow bucket.

Regarding `event_type`, checked the source code and that makes sense given that merging checks for events to be equal everywhere but the times

[2020-06-22 16:03] nicolae-stroncea commented on #39
A couple of other follow-up notes:

With the PR applied, AW reports durations with exact or very similar accuracy to SmarterTime and ActionDash, so it seems like ignoring `MOVE_TO_BACKGROUND` and `MOVE_TO_FOREGROUND` will result in the same benefits, and fix the issue.

There are a couple of instances when the time still varies (now by a lot less) by at most a couple of minutes in my tests, where

[2020-06-22 16:12] #31 closed

[2020-06-23 02:13] nicolae-stroncea commented on #35
@johan-bjareholt what are your thoughts on this approach? I can send a PR for it if you think this is the way to go

[2020-06-24 06:11] johan-bjareholt commented on #35
@nicolae-stroncea Sounds really good, we could create a new bucket for that type of events and making a query that simply sums the amount of events and displays it in the web-ui should be trivial.

[2020-06-26 05:17] nicolae-stroncea commented on #29
Thinking more on this, I'm not actually sure if running AW server as a background service would use that much battery, especially given that the server would be idle 99% of the time. Might be interesting to test how battery is affected by running silently in the background vs consistently restarting it, especially if every single watcher will restart the server(UsageStatsWatcher, ChromeWatcher, Fi

[2020-06-26 18:24] ErikBjare commented on #29
I've considered that before, but apparently on Android you can't just run a background service indefinitely however you want: https://developer.android.com/about/versions/oreo/background

The current method of running it (with alarms) might still be suboptimal. I haven't really looked into it.

My current hope is that @miguelrochefort's solution works well and that we could get something similar t

[2020-06-27 00:20] miguelrochefort commented on #29
I'd be curious to quantify the battery usage of AW's server on Android.

I'm currently running a customized version of ActivityWatch (very much in
progress and buggy) that tracks notifications, local multimedia sessions,
phone/video calls, Chrome browser history, and even Chromecast and Google
Home casting sessions. These services run constantly run in the background,
using sticky/persistent "fore

[2020-06-27 19:45] nicolae-stroncea commented on #29
@ErikBjare  You're right about running indefinitely, there is afaik no way to do that. The closest you can get is with sticky foreground services, which is what @miguelrochefort  is using. The OS tries to keep it alive as long as you need to, and will kill it only if it absolutely has to.

Relevant links:
https://android-developers.googleblog.com/2018/12/effective-foreground-services-on-android_11

[2020-06-29 20:43] #34 closed

[2020-06-30 10:19] ErikBjare commented on #39
Fixed in #40, some small discrepancies might still exist but should be good enough for now.

[2020-06-30 19:50] NicoWeio opened #44 "Implement "Report bugs" button?"
At the moment, the "Report bugs" button in the App Drawer only shows a placeholder Snackbar.

[2020-07-11 14:15] nicolae-stroncea commented on #37
Had the same issue for a 7 minute call where AW reported it as 20 seconds. The other alternatives all correctly reported the same amount.

Probably has something to do with the events that the UsageStatsManager sends for a phone app. Easiest way to fix might be to get some logs of a call and see which events get fired for it.

Maybe  https://github.com/ActivityWatch/aw-android/pull/40 fixes it, bu

[2020-07-11 14:25] nicolae-stroncea opened #45 "Hamburger menu is duplicated"
Currently the app has 2 hamburger menus (one from web-ui, the other one specifically for Android) which leads to very confusing UX.

I'm not sure what the purpose of the Android menu is, since the aw-webui menu already contains all of the information, so an easy fix might be to just remove the Android one.

Any UI customizations that the android menu has, can be done directly on the web-ui with a

[2020-07-11 14:30] nicolae-stroncea opened #46 "View is reset on orientation change"
## To reproduce.

1. Start in default portrait orientation
2. Go to timeline.
3. Switch to horizontal orientation

**Results**: view is restarted to the default activity view.
**Expectations**: screen is rotated, and I'm still in the timeline

Looking online, the fix seems pretty straighforward, either adding a line in the manifest file `android:configChanges="orientation|screenSize"`[link](https:

[2020-07-11 14:31] nicolae-stroncea opened #47 "Doesn't work without wifi/data"
For some reason, doesn't work without wifi, and on some instances seemed to crash/hang?

[2020-07-11 14:33] nicolae-stroncea opened #48 "Watcher for foreground services"
The following are not classified as  UI apps, but could still give important information to track:

* Music, Podcasts, audio books, etc.

I think they're foreground services and could just be sent to a foreground bucket.

[2020-07-16 09:42] ErikBjare commented on #47
Weird about the wifi/data, but about the crashes/hangs I was hoping they'd all be resolved, so I took a look at the Play Store vitals page.

ANRs:

![image](https://user-images.githubusercontent.com/1405370/87654082-b8d05f80-c756-11ea-8f67-946baf307914.png)

Crashes:

![image](https://user-images.githubusercontent.com/1405370/87654113-c38af480-c756-11ea-8a2e-a0506c92af43.png)

Still waaaay better

[2020-07-17 03:17] nicolae-stroncea commented on #47
So I tried it more times without wifi/data, and it does work.

However, I distinctly remember that on the 2-3 instances where nothing was working, my wifi/data was off. After that, when I turned the data on, everything was suddenly working. I'm wondering if this was caused instead by AW being busy sending events to the server, and it finished around the time i connected to data.  In that case fix

[2020-07-17 09:35] ErikBjare commented on #47
This sounds like the most likely explanation.

I've thought the same, but I think the preferred solution would be to just load it quicker as that should be doable.

[2020-07-17 14:20] ErikBjare commented on #45
The only reason for the native Android menu is to get a slightly more native feel. The idea was to eventually hide the menu in aw-webui when running on Android.

It's still duplicating code though, so idk.

[2020-07-29 07:09] #35 closed

[2020-08-16 21:56] NicoWeio opened #51 "Improve UX when loading new entries"
I don't really know what happens behind the scenes, but if I haven't opened the app for a few days, I can basically see the bars in the page appear and grow, until they reach today (tapping the reload button every few seconds). I use a Redmi Note 8 Pro, so performance-wise it should be at least average.
The import process should either be sped up by an order of magnitude, done in the background, o

[2020-08-17 14:03] johan-bjareholt commented on #51
Are you using the latest version? I remember this being improved a couple of releases ago and is now supposed to do it in the background. If I remember correctly it's done once a day, so you should only be able to see the last day build up.

Or possibly it's that the OS is not allowing the app to run in the background, from my experience MIUI is very aggressive with that if you have not flashed so

[2020-08-17 15:13] NicoWeio commented on #51
I'm using the latest version available in the Play Store, v0.9.2. Indeed, MIUI might be the culprit here. I'll disable energy saving for the app entirely (i.e. as much as I can) and see if it fixes my issue.

[2020-08-17 15:15] ErikBjare commented on #51
We can probably speed it up by an order of magnitude (or more) by pre-merging the heartbeats before storing them. We just haven't gotten around to it.

[2020-08-17 15:17] ErikBjare commented on #39
It seems like I still have some significant discrepancies, so we probably need to to do something about the consecutive 1 and 2 events.

[2020-08-18 15:05] stoically opened #52 "Screen interactive watcher"
Thanks for working on ActivityWatch, really an amazing project!

In addition to #35 I'd find it useful and interesting to also have a bucket that tracks the screen going into interactive state. Often enough phones are checked by waking the display but not actually unlocking.

Based on the description I'd assume this should be covered by [SCREEN_INTERACTIVE](https://developer.android.com/reference/

[2020-09-06 17:47] kamaradclimber opened #53 "Allow to send data to a remote server"
Several clients (the ones using aw-client) support to contact a remote server.

There are traces in forums of remote server not being recommended (although reasons are not detailed).
It would be more consistent to support this option for the android app as well.

Could it be considered?

[2020-09-06 19:56] Deeroil opened #54 "Android starting instructions"
Starting page tells the user to click "Web UI" from the top left menu, but such button doesn't exist.
Should it suggest "Activity" instead?

[2020-09-08 14:07] kamaradclimber commented on #53
https://github.com/ActivityWatch/aw-watcher-web/issues/26#issuecomment-437813573 seems to be the most authoritative comment I can find on the topic.

[2020-09-08 14:10] kamaradclimber commented on #53
I'm really wondering why some clients supports remote server and some others don't.
I understand the security justification but would like to challenge it: it seems users should have the option to run a remote server (especially over their local network).

In the case of android app (and in my use case), the server is accessible on my local network only, so events would be synced only when my phon

[2020-09-13 10:18] ErikBjare commented on #53
All clients that use aw-client-python supports using a remote server, since they use the same config file (but discouraged). The web watcher can easily be forked to support it (just change the address and add an allowed CORS origin to the aw-server config).

The reasons we don't put in the effort to make this easy are:

 - It would be redundant once sync is implemented.
 - Security
   - The origin

[2020-09-13 11:02] kamaradclimber commented on #53
Thanks for detailed answer.

[2020-09-13 11:02] kamaradclimber commented on #53
I'll see what I can do with a fork until synchronization feature is functional.

[2020-09-13 11:02] #53 closed

[2020-09-13 16:18] #54 closed

[2020-09-13 16:18] ErikBjare commented on #54
Thanks, fixed and will be in the next release.

[2020-09-26 15:53] nicolae-stroncea commented on #48
Took a look at the events that could be used for this:
* `FOREGROUND_SERVICE_START`: detects a foreground service starting: i.e would detect when some media is playing
* `FOREGROUND_SERVICE_STOP`: detects stop of a foreground service.
* Not sure what a pause looks like, if that's categorized as a `FOREGROUND_SERVICE_STOP`, or as another type of event

[2020-11-03 14:12] johan-bjareholt opened #55 "web-ui not working in API on github releases?"
https://forum.activitywatch.net/t/android-app-cant-find-web-ui/888

[2020-11-05 03:23] 2br-2b commented on #55
I'm the one having this issue. If there's anything I can do to help debug, let me know!

[2020-11-05 03:23] 2br-2b commented on #55
if it helps, I'm running GrapheneOS on a Pixel 4XL.

[2020-11-23 09:12] ErikBjare commented on #55
No idea what is going on here, but FWIW, I've installed the Android app from the GitHub releases APK on my Oculus Quest, and that works fine.

The APK should be identical to the one on the Play Store, see:

https://github.com/ActivityWatch/aw-android/blob/66d5492f72cc47bbc6b2979c0031438d80e07392/.travis.yml#L55-L69

I'm sorry, but I'm really at a loss why it doesn't work for you :slightly_frowning

[2020-11-23 14:37] 2br-2b commented on #55
Does the app require any of Google's services?

[2020-11-23 15:01] ErikBjare commented on #55
@2br-2b Nope, none.

[2020-11-23 16:10] 2br-2b commented on #55
That's weird. Is there anywhere else I could install the apk from to try it? I am running GrapheneOS on a Pixel 4 XL, if that makes a difference

[2020-11-23 16:29] ErikBjare commented on #55
@2br-2b You could try older releases, or in the worst case build it yourself.

It might be helpful if you could collect logs, there's a chance they contain something useful.

One of the things the app does is extract the web UI resources onto the filesystem for serving, this might be what goes wrong for you. Here's the code for it: https://github.com/ActivityWatch/aw-android/blob/66d5492f72cc47bbc

[2021-01-25 11:01] LakshyAAAgrawal opened #58 "Option to set remote server"
Hey, Great work on the app and the software.

Can I set my activitywatch server running on desktop as the target for the android client, and some way to make the android client send all the data to the server on my laptop in the same wifi network?

[2021-01-26 16:48] ErikBjare commented on #58
Not currently possible, and won't be anytime soon. See https://github.com/ActivityWatch/aw-android/issues/53 for details about why.

[2021-01-26 16:48] #58 closed

[2021-02-04 21:44] kovasap opened #59 "Location Logging"
Has anyone thought about hooking in Android location logging info into this app?  There's a lot of useful activity data from my life that is strongly tied to location (but not my phone app activity).  It would be awesome if this data could be collected by this app just like app data is!

[2021-02-07 16:15] ErikBjare commented on #59
I've thought about this in the past, and while it certainly would be cool it also sounds like a headache to maintain. There's a rather large amount of other apps doing location tracking, perhaps there's another app out there that already does what you want?

I personally use the Timeline feature in Google Maps for this, but I appreciate that not everyone is comfortable sending their every move to

[2021-02-07 23:06] kovasap commented on #59
I also use and like the maps timeline feature.  My issue with it is that I
have to use a hacky method to get the data from it into a data aggregation
system I use.  Things would be cleaner if I used a system (like aw) that
was built for easy data access.

I'm hoping that android has some easy api to get location data (that maps
timeline uses) that aw could call.  But I don't really know anything a

[2021-02-09 12:06] Tisckkytt opened #60 "Crashes on launch (Android 11)"
Version: 0.10.0
Installed From: Playstore
Android Version: 11 (AOSPA)

Scoop app couldn't register any crashes (weirdly), so can't provide logs, but if necessary I can use Matlog or something.

[2021-02-21 08:15] ErikBjare commented on #60
This seems to happen to a number of people, not sure why.

Someone emailed me their logs, containing this stack trace:

[code]

There are more stacktraces reported in the Play Store developer console, but this one is suspiciously short (and I've seen it a few times).

[2021-02-21 08:34] ErikBjare commented on #60
@johan-bjareholt Do you have any idea about that last one?

[2021-02-21 09:02] ErikBjare commented on #39
@nicolae-stroncea I think it's due to the out-of-order events, but not sure. I still have a lot of 0-duration events.

[2021-02-21 09:29] ErikBjare commented on #60
Getting this (resymbolized) stacktrace when I try to run ActivityWatch on Android 11:

[code]

Looks like it can't listen to the port?

[2021-02-22 10:51] ErikBjare commented on #45
This was fixed in v0.10, closing.

[2021-02-22 10:51] #45 closed

[2021-03-09 00:00] IzzySoft opened #61 "APK size"
Looks like with the last version, APK size increased by factor 6 – due to the `libaw_server.so` having increased by factor 18 (from around 5M to 90M). As that exceeds the limits in my repo by factor 3 (max space per app is 30M), I had to remove v0.10 and disable auto-update.

Is there any chance to decrease APK-Size again? I don't know if whatever blew up that library could be reverted – but e.g.

[2021-03-09 07:37] johan-bjareholt commented on #61
@ErikBjare Sounds like you maybe did a debug build by mistake for the APK?

[2021-03-09 07:47] ErikBjare commented on #61
Pretty sure it's a release build, but the debug symbols might not have been stripped.

[2021-03-09 10:17] IzzySoft commented on #61
Wow, then that lib has quite some of those. Never thought debug symbols would count for a factor 18 size increase… Thanks for digging it up! Looking forward to an APK replacement then.

BTW: It seems to be just that one library being the cause of the size increase (or at least for 98% of it), in case it matters.

[2021-03-21 12:38] eamon0989 commented on #60
It's crashing for me on Android 11, I got it from the Play store, is there anything I can do to help? I assume a solution hasn't been found yet

[2021-03-24 13:20] ErikBjare commented on #60
@eamon0989 Unfortunately I got stuck on this issue. I'm not quite sure what to do about it at this point, might ask on StackOverflow or similar to see if some Android NDK expert can chime in.

[2021-04-13 21:57] TheRealMephisto commented on #24
Hi!

A friend recommended ActivityWatch to me just a few weeks ago - so far, I like it a lot. Today i found out, that I can install it on android as well, but also that you still have some problems submitting it to the official f-droid repos.

I'd like to help! :D (with the submitting on f-droid as well as the whole application in general)

... never published an app on f-droid and have just a lit

[2021-04-14 09:42] ErikBjare commented on #24
@TheRealMephisto The links already mentioned in the thread should be a good start. Let us know how your work goes!

[2021-04-19 02:31] kovasap opened #62 "Location of database"
Is the database saved as a sqlite file somewhere on the device I could get access to?  I'm looking for a way to automatically backup my usage data from my phone without having to manually use the export feature.  I have another app that lets me sync specific directories on my phone to the cloud; I'd like to feed it the AW data directory.

Does this make sense or is there a better way to achieve wh

[2021-04-19 08:44] ErikBjare commented on #62
The Android app stores the SQLite file in its [assigned data directory](https://android.stackexchange.com/questions/47924/where-android-apps-store-data), however this directory is likely protected from being accesses by other apps on the file system (for security reasons). However, if you've rooted your phone it should be easy to access, and you might also be able to access it with adb.

[2021-04-19 15:40] kovasap commented on #62
Ah ok I see.  I see that AW also has a directory in `/storage/emulated/0/Android/data/net.activitywatch.android`, but it is empty.  Could you point me to the place in the code where the database file location is set (or is auto set by default)?  I think for me it would be easiest to change this in a aw-android fork (or contribute it back if you would like).  I can't root my current phone as I use

[2021-04-19 15:54] kovasap commented on #62
Nvm, see https://github.com/ActivityWatch/aw-android/pull/63

[2021-04-19 15:58] kovasap commented on #62
If it makes more sense, I could also try to accomplish this by adding a auto-export feature to the server, which would work for all AW platforms.  What do you think?

[2021-05-02 19:44] kanishkarj commented on #62
Hi, it might also work if the app could auto-expory to Dropbox or some cloud storage once a day I guess. I don't think we would need realtime sync, we just need the ability to consolidate data from all devices in one location right?

[2021-05-08 22:52] kovasap commented on #62
I was hoping to fix this problem for myself by using adb to [make just the acitivitywatch data directory readable by all](https://stackoverflow.com/questions/51042115/how-to-change-permission-of-internal-folder-file-in-android), but this also requires root : (.

I did discover that running `adb backup net.activitywatch.android` when the device is connected to the PC with developer mode enabled pro

[2021-05-28 08:33] PersonNotFound opened #64 "Doesn't work for Honor 9x"
It seems it doesn't work for me(Honor 9x).
The app is allowed to see my log history, but I still see
![image](https://user-images.githubusercontent.com/28736191/119954815-0ee17680-bfa8-11eb-9859-eaabb9819b94.png)
I am not an android dev, please, show me the way how I could debug it or collect needed logs.

[2021-05-29 13:02] yshalsager commented on #60
Installed today from play store and facing the same issue :(

[2021-05-30 15:55] ErikBjare commented on #60
Weirdly enough, it works on my Android 11 phone (Poco F3), so at least it isn't broken for *all* Android 11 phones...

If people could provide *what* Android 11 phones they have, that could help us figure out what the real discriminator is.

What we know so far: It doesn't work in the Android 11 emulator.

[2021-05-30 17:35] yshalsager commented on #60
POCO X3 NFC (surya) running custom AOSP ROM (crdroid) here.
I can grab logs if they are needed.

[2021-05-31 11:42] ErikBjare commented on #60
@yshalsager I'm assuming you'll see the same logs as the one I posted above, but if you could confirm that is the case then that would give us some confidence in where the issue stems from :)

[2021-06-03 13:19] VladPetryshyn commented on #60
Same error on Redmi Note 8t (SparkOs)

[2021-06-13 13:45] VladPetryshyn commented on #60
Works on potato open source project and lineage os. Both on android 11

[2021-07-20 20:36] IzzySoft commented on #61
Any news on this?

[2021-08-29 11:02] ErikBjare commented on #5
@Alwinator Woah, that's awesome! Thanks for doing the fieldwork and trying it out!

I'll reopen this issue to see if there's anything else we can do to cater to Android TV usage.

[2021-11-30 13:15] BlastboomStrice opened #68 "App can't be used in both the main and work profile"
Expected Behavior:
I wanted to use the app on both my main profile and the work profile (created with Island app).

Actual Behavior:
The app on the profile I want to use it crashes and closes if it has been opened already on the other profile. To fix it I've to delete the app data of the other profile and open the one I want. It seems like there's no other way to fix it.

Steps to Reproduce the Pr

[2021-12-10 12:36] xeruf opened #69 "Integration with desktop?"
I am confused as to how to use this - does it run completely standalone? Can't I integrate it with AW-desktop

[2022-02-03 18:59] lerad opened #70 "Stopwatch continues running after stopped"
I have encountered a bug in the "Stopwatch" feature. It sometimes restarts a stopwatch, after I already stopped it.

I assume that this happens when the view is closed/terminated, before the "stop event" (or whatever the correct term is) is sent to the rust-backend. The best method I found to reproduce is:
* Start a stopwatch
* Let the stopwatch run for some time
* Stop the stopwatch
* Close the v

[2022-02-06 17:56] Alwinator opened #71 "[Feature Request]"
Track sleep data. It is would be so cool! I am using my smartphone as clock and I tried the feature by using Samsung Health, it is perfectly accurate.
 https://developers.google.com/location-context/sleep

[2022-03-17 12:42] Alwinator opened #72 "[Feature Request] Allow to add buckets using Tasker"
Writing custom watchers is relatively complicated on Android. However, there is a big automation community on Android which uses tools like [Tasker](https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm&hl=en&gl=US), or even better: [Automate](https://play.google.com/store/apps/details?id=com.llamalab.automate&hl=en&gl=US). If the ActivityWatch Android app would have a Tasker

[2022-07-18 18:54] amitamitamitamit opened #74 "[Feature Request] chrome watcher"
Is there a chrome watcher like in the desktop version?

[2022-07-19 07:16] ErikBjare commented on #74
Merged but unreleased: https://github.com/ActivityWatch/aw-android/pull/30

aw-android development has stalled a bit, but hope to throw together a new version in the next couple months.

[2022-07-19 09:25] ErikBjare commented on #46
Thanks for reporting, should be fixed in https://github.com/ActivityWatch/aw-android/commit/c8f51e5565ac4c33623c4ffb510f7924a40e2994 (untested by me, though)

[2022-07-19 09:25] #46 closed

[2022-07-20 19:57] amitamitamitamit commented on #74
Is there a ready to use apk that I can download? I have small experience with android development but not so much.
Thanks for your helping

[2022-07-22 12:05] ErikBjare commented on #74
Nope, not at the moment. Currently working on giving aw-android a proper update in the coming month.

[2022-07-28 21:43] amitamitamitamit commented on #74
Ok, thank you.
I saw you wrote that you will check if you can create also a firefox watcher, it will be with the release?

[2022-08-07 15:05] amitamitamitamit opened #77 "[Feature Request] App page data"
Hey,
Can I get data about the current page of an app?
For example if I am using whatsapp I want to know in which chat I am, or for the dial app who am I talking with.
Thanks

[2022-08-09 20:17] kromsam opened #78 "Crashes on launch (Android 12 GrapheneOS)"
When I open the app, the following error message is shown:
http://127.0.0.1:5600/ bcan0y be loaded because

`net::ERR_CONNECTION_REFUSED`

I use the Play Store version of the app running the latest version of GrapheneOS (Android 12).

[2022-09-10 07:34] Benjamin-Watson0 opened #79 "Whether or not windows and Android data are intended to be interoperable."
It would be great to see all the devices in use on one device.

[2022-09-25 08:56] linsui commented on #24
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/11786 I opened an MR. @ErikBjare Could you please take a look?

[2022-10-11 22:03] chaotika commented on #68
Hi, i can report the same. I can use only one ActivityWatcher in either the private profile or the work profile. I created the work profile with the Shelter App.

[2022-10-11 22:18] johan-bjareholt commented on #68
@ErikBjare Probably because we will attempt to bind port 5600 twice?

[2022-10-11 23:03] chaotika commented on #68
I suppose so. When i close the private app the work one works and vice versa.

[2022-10-24 06:34] ritamsaha00 opened #80 "Icons in settings not being rendered"
Device: Samsung S20 FE 5G
OS: Android 12 + One UI 4.1
App version: 0.10

![Screenshot_20221024-115740_ActivityWatch](https://user-images.githubusercontent.com/69363775/197461991-5a8e8dce-57a0-422b-9a1c-68fa1716d3c6.jpg)

As you can see, the icons in settings menu is not showing

[2022-10-24 12:50] ErikBjare commented on #80
This is a known issue that will be fixed in the next version (whenever it gets released, might take a while...)

[2022-10-24 12:50] #80 closed

[2022-10-31 10:30] PeterKW opened #81 "Newest version?"
https://apt.izzysoft.de/fdroid/index/apk/net.activitywatch.android

There seem to have been commits but no updates for quite a while? Are there any plans for the next release?

[2022-10-31 22:52] XY-quantum opened #82 "InstrumentationRegistry is deprecated"
In the line 25 of ExampleInstrumentedTest.kt file, `val appContext = InstrumentationRegistry.getTargetContext()` should be replaced by `val appContext = InstrumentationRegistry.getInstrumentation().getTargetContext()` cause of the 'InstrumentationRegistry' is deprecated in Java, otherwise, the gradle cannot be built.

[2022-11-23 18:41] reap2 opened #86 "Build Docs"
Hello, recently I was trying to install activitywatch from source but the installation is a bit cumbersome, especially on windows, maybe a more detailed description is possible, thanks!

[2022-11-24 19:07] ErikBjare commented on #86
Yes, it's a complete mess. We're working on a update to aw-android right now, might write some better docs once that's done.

[2022-11-24 19:08] ErikBjare commented on #82
Will be fixed by: #85 / #88